<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.memo.dao.MemoDao">
	<select id="selectAll" resultType="MemoVO">
		select * from tbl_memo order
		by mo_date DESC, mo_time DESC
	</select>
<select id="findBySeq" resultType="MemoVO">
		select * from tbl_memo where mo_seq = #{mo_seq}
	</select>
	<insert id="insert" parameterType="MemoVO">
	<selectKey keyProperty="mo_seq" resultType="Long" order="BEFORE">
	select round(dbms_random.value(0,9999999999),0) from dual
	</selectKey>
		insert into tbl_memo(MO_SEQ,
		MO_DATE,
		MO_TIME,
		MO_AUTE,
		MO_SUBJECT,
		MO_MEMO)
		values(
		#{mo_seq},
		#{mo_date},
		#{mo_time},
		#{mo_aute},
		#{mo_subject},
		#{mo_memo}
		)

	</insert>
	
	<update id="update" parameterType="MemoVO">
	update tbl_memo set
		
		MO_DATE = #{mo_date},
		MO_TIME = #{mo_time},
		MO_AUTE = #{mo_aute},
		MO_SUBJECT = #{mo_subject},
		MO_MEMO = #{mo_memo}
		where MO_SEQ = #{mo_seq}
	
	</update>
</mapper>